@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Orbitron:wght@500&display=swap');

body{
    font-family: 'Inconsolata', monospace;
    background-color: #080d11;
    background-image: url(../img/diseno-de-galaxia-abstracta-3823.jpg);
}

h1,h2,h3,h4,h5,h6{
    color: #ffffff;
    text-shadow: 0 0 5px #00f2ff, 0 0 10px #6dfff3, 0 0 20px #81fffd,
    0 0 30px #f6ff7b, 0 0 40px #ff7b7b, 0 0 50px #7bffff, 0 0 70px #847bff,
    0 0 100px #ff7b7b;
}


ul{
    list-style:none ;
}

footer{
    color: #daebf0;
    text-shadow: 0 0 5px #ffb07b, 0 0 10px #a0ff7b, 0 0 20px #b442b8,
    0 0 30px #f6ff7b, 0 0 40px #ff7b7b, 0 0 50px #7bffff, 0 0 70px #847bff,
    0 0 100px #ff7b7b;
}

p, option, select {
    color: #050505;
    font-weight: bolder;
}

.backgroundDiv {
    background-image: url(../img/diseno-de-galaxia-abstracta-3823.jpg);
}